.blinking-cursor {
    display: inline-block;
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

#message {
    display: inline;
    position: relative;
    margin: 0;
    @include font(14px, 16px);
}