<section class="section">
  <div class="container">
    <div class="promo" id="advantages">
      <h2 class="promo__title">Настройте генератор, чтобы получить идею</h2>
      <div class="promo__desc">
        <div class="promo__grid">
          <div class="promo__tag-container">
            <h3 class="promo__tag-title">Для кого</h3>
            <div class="promo__tag-list">
              <label class="promo__tag-item" for="colleagues">
                <input type="radio" id="colleagues" name="tag" value="Коллеги">
                Коллеги
              </label>
              <label class="promo__tag-item" for="partner">
                <input type="radio" id="partner" name="tag" value="Партнёр">
                Партнёр
              </label>
              <label class="promo__tag-item" for="family">
                <input type="radio" id="family" name="tag" value="Семья">
                Семья
              </label>
              <label class="promo__tag-item" for="friends">
                <input type="radio" id="friends" name="tag" value="Друзья">
                Друзья
              </label>
            </div>
            <div class="promo__screen-card screen-card">
              <div class="screen-card__wrapper">
                <span id="message" class="screen-card__massage"></span>
                <span id="cursor" class="blinking-cursor">|</span>
              </div>
            </div>
          </div>
          <div class="promo__content">
            <h4 class="promo__content-title">Кликните на&nbsp;кружочки, чтобы выбрать настроение идеи</h4>
            <div class="promo__content-list">
              <label class="promo__content-item">
                <input type="radio" name="mood" value="Смешная">
                <svg class="promo__icon" width="46" height="46" aria-hidden="true">
                  <use xlink:href="img/sprite.svg#star"></use>
                </svg>
                <span class="promo__content-label">Смешная</span>
              </label>
              <label class="promo__content-item">
                <input type="radio" name="mood" value="Вдохновляющая">
                <svg class="promo__icon" width="46" height="46" aria-hidden="true">
                  <use xlink:href="img/sprite.svg#loader"></use>
                </svg>
                <span class="promo__content-label">Вдохновляющая</span>
              </label>
              <label class="promo__content-item">
                <input type="radio" name="mood" value="Полезная">
                <svg class="promo__icon" width="46" height="46" aria-hidden="true">
                  <use xlink:href="img/sprite.svg#arrow"></use>
                </svg>
                <span class="promo__content-label">Полезная</span>
              </label>
            </div>
          </div>
          <div class="promo__stab">ЗАГЛУШКА</div>
          <div class="promo__info">
            <div class="promo-card">
              <label class="promo-card__option" for="color-blue">
                <input type="radio" id="color-blue" name="color" value="#4798FF" title="Синий.">
                <span class="promo-card__round"></span>
              </label>
              <label class="promo-card__option promo-card__option--one-position" for="color-green">
                <input type="radio" id="color-green" name="color" value="#A8FF82" title="Зеленый.">
                <span class="promo-card__round"></span>
              </label>
              <label class="promo-card__option promo-card__option--two-position" for="color-purple">
                <input type="radio" id="color-purple" name="color" value="#9761DB" title="Фиолетовый.">
                <span class="promo-card__round"></span>
              </label>
              <label class="promo-card__option promo-card__option--tree-position" for="color-cyan">
                <input type="radio" id="color-cyan" name="color" value="#0DFDF2" title="Циан.">
                <span class="promo-card__round"></span>

              </label>
              <p class="promo-card__color-text">Выберите цвет подарочной бумаги</p>
            </div>
          </div>
          <button class="promo__btn btn btn--primary btn--size-large" type="button" data-cross-button>
            <span class="btn__label">Получить идею</span>
          </button>
        </div>
        <div class="promo__wrapper">
          <div class="promo__video-container">
            <video preload="metadata" autoplay muted loop playsinline class="promo__video video" id="promoVideo"
              poster="https://avatars.mds.yandex.net/get-lpc/10116223/5e3dde45-c7f5-48d3-bfe5-68a91b67b63b/orig?width=707&height=1255">
              <source src="https://code.s3.yandex.net/yolkageneri/Mobile.mp4" type="video/mp4" id="mobileSource">
              <source src="https://code.s3.yandex.net/yolkageneri/десктоп(1920).mp4" type="video/mp4"
                id="desktopSource">
              Ваш браузер не поддерживает видео.
            </video>
          </div>
            <svg class="promo__icon-nav" width="43" height="40" aria-hidden="true">
              <use xlink:href="img/sprite.svg#arrow-lg"></use>
            </svg>
          <div class="promo__picture">
            <img id="giftImage" src="img/bg/bg-img-green.webp" alt="Дефолт." class="promo__img"
              loading="lazy">
            <img id="imageBlue" src="img/bg/bg-img-green.webp" class="promo__img"
              alt="Синяя картинка." loading="lazy">
            <img id="imageGreen" src="img/bg/bg-img-blue.webp" class="promo__img"
              alt="Зеленая картинка." loading="lazy">
            <img id="imagePurple" src="img/bg/bg-img-purple.webp" class="promo__img"
              alt="Фиолетовая картинка." loading="lazy">
            <img id="imageCyan" src="img/bg/bg-img-turquoise.webp" class="promo__img"
              alt="Бирюзовая картинка." loading="lazy">
          </div>
          <article class="promo__info-card info-card">
            <div class="info-card__header">
              <h5 class="info-card__title">Рабочий нейрогороскоп</h5>
              <p class="info-card__text">Сгенерируйте коллегам предсказания на&nbsp;следующий год. Если звёзды
                напророчат
                кому-то новые возможности, добавьте в&nbsp;послание промокод от&nbsp;Яндекс Практикума. Так ваш
                праздничный прогноз превратится в&nbsp;новые навыки или даже целую профессию.</p>
            </div>
            <footer class="info-card__footer">
              <svg class="info-card__icon" width="22" height="19" aria-hidden="true">
                <use xlink:href="img/sprite.svg#hart"></use>
              </svg>
              <button class="info-card__btn btn btn--primary btn--size-small" type="button">
                <span class="btn__label">Как сделать?</span>
              </button>
            </footer>
          </article>
          <div class="promo__banner">
            <div class="banner">
              <p class="banner__text">Поделитесь с&nbsp;друзьями генератором&nbsp;&mdash; пусть тоже не&nbsp;ломают
                голову, что подарить</p>
              <svg class="banner__icon" width="23" height="17" aria-hidden="true">
                <use xlink:href="img/sprite.svg#arrow-lg"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>