<header class="header">
  <div class="header__container container">
    <div class="header__panel">
      <div class="header__logo">
        <a href="/" class="header__logo-link logo">
          <img class="logo__img" src="img/logo.svg" width="247" height="35" alt="Лого.">
        </a>
      </div>
      <button class="header__burger" id="burgerButton" aria-label="Меню">
        <span class="header__burger-line" id="burgerLine"></span>
        <span class="header__burger-line" id="burgerLine"></span>
        <span class="header__burger-line" id="burgerLine"></span>
      </button>
      <nav class="header__nav nav" id="navMenu">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="#services" class="nav__link"><span class="nav__text">БИЗНЕС</span></a>
          </li>
          <li class="nav__item">
            <a href="#about" class="nav__link"><span class="nav__text">ЦЕНЫ</span></a>
          </li>
          <li class="nav__item">
            <a href="#products" class="nav__link"><span class="nav__text">О НАС</span></a>
          </li>
          <li class="nav__item">
            <a href="#advantages" class="nav__link"><span class="nav__text">ОФОРМИТЬ ЗАКАЗ</span></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>